.column {
  /* height: 40vmin;
  pointer-events: none; */
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    align-items: center;
  }
}

.App-Header {
  background-color: #36393f9f;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row {
  content: "";
  clear: both;
  display: table;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.column::after {
  float: left;
  width: 33.33%;
  padding: 5px;
}

 .App-link {
  color: #61dafb;
}

@keyframes App-Header-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
